body {
    background-color: #a3c0ff;
    padding: 0px;
}

h1 {
    text-align: center;
    padding-bottom: 5px;
}
p {
    padding: 10px;
}

.Genre {
    padding: 4px;
    margin: 8px;
    background-color: #ebffa3;
}

.Representation {
    padding: 4px;
    margin: 8px;
    margin-bottom: -10px;
    background-color: #ebffa3;
    
}

.Submit {
    margin: 8px;
    margin-top: -10px;
    padding: 8px;
    background-color: #ebffa3;
}

